.vbox {
    -fx-background-color: #ffffff;
}
/* Apply styles to the table */
.table-view {
  -fx-table-cell-border-color: #212121;
  -fx-table-header-border-color: #212121;
  -fx-background-color: #ffffff;
}

/* Apply styles to the table columns */
.table-view .column-header-background {
  -fx-background-color: #f2f2f2;
}

.table-view .column-header {
  -fx-alignment: CENTER_LEFT;
  -fx-font-weight: bold;
}

/* Apply styles to the table rows */
.table-row-cell {
  -fx-background-color: #f5f5f5;
}

.table-row-cell:odd {
  -fx-background-color: #f2f2f2;
}

.table-row-cell .table-cell {
  -fx-padding: 5;
}

/* Apply styles to the table cells */
.table-row-cell:selected {
  -fx-background-color: #ceeaf7;
  -fx-text-fill: black;
}

/* Apply styles to the table buttons */
.button {
  -fx-background-color: #2196f3;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-pref-width: 100px;
}

.button:hover {
  -fx-background-color: #1976d2;
}

/* Apply styles to the table images */
.table-cell .user-profile-image {
  -fx-background-color: transparent;
  -fx-border-radius: 50%;
  -fx-background-radius: 50%;
  -fx-border-color: transparent;
  -fx-border-width: 2px;
}

/* Apply styles to the table labels */
.table-cell .label {
  -fx-font-size: 14px;
}